files:
  "/tmp/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      upstream nodejs {
        server      127.0.0.1:8081;
        keepalive   256;
      }
      server {
        listen  8080;

        if ($http_x_forwarded_proto != 'https') {
          rewrite ^(.*) https://$host$1 redirect;
        }

        location / {
          proxy_pass          http://nodejs;
          proxy_set_header    Connection "";
          proxy_http_version  1.1;
          proxy_set_header    Host $host;
          proxy_set_header    X-Real-IP $remote_addr;
          proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        gzip on;
      }
container_commands:
  01_copy_nginx_conf:
    command: "cp /tmp/00_elastic_beanstalk_proxy.conf /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"