.bottomed {
	border-top: 1px solid #eee;
	    margin-top: -128px;
	h3 {
		Font-Family:     "Open Sans", Arial;
		padding-top: 24px;
		color: #a8192e;
		font-weight: 600;
		font-size: 30px;
	}
}

.prefoot {
	padding-top: 72px;
    padding-bottom: 72px;
    h4 {
	    text-transform: uppercase;
	    Font-Family:     "Open Sans", Arial;
	    font-weight: 600;
		font-size: 14px;
    }
    
    .nav {
	    align-items: center;
		justify-content: center;
		margin: 42px;
		.nav-link {
			color: #8f9697;
			    text-transform: uppercase;
    padding: 12px 32px;
		}
		.nav-link.active {
			background-color: #a8192e;
			color: #fff;
		}
    }
}