@import 'base';
.page-layout__viewport {
  
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.header {
  padding: 40px 0;
  .logo {
    max-width: 100%;
  }
  .Select {
    width: 100%;
    margin: 20px 0;
    .Select-arrow{
      border-color: #a8192e transparent transparent
    }
  }
  h1 {
    display: none;
  }
  nav {
    background: $light_gray;
    margin: 30px 0;
    ul{
      list-style: none;
      margin : 0;
      padding: 0;
      li{
        display: inline-block;
        text-transform: uppercase;
        margin : 0 10px;
        padding: 20px;
        cursor : pointer;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        a {
	        color: #525757;
        }
        &:hover {
          border-bottom: 5px solid #a8192e;
          a {
		        color: #a8192e;
	        }
        }
        
        &.active {
	        border-bottom: 5px solid #a8192e;
	        a {
		        color: #a8192e;
	        }
        }
        
      }
    }
  }
  @include tablet {
    h1 {
      display: block;
    }
    .Select {
      margin : 0;
    }
  }
}
.footer {
  background: $dark_green;
  padding: 15px 0;
  color : $white;
  p{
    color : $dark_gray;
    margin : 0;
  }
  a{
    color : $white;
    &:first-child {
      border-right: 1px solid $white;
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}
